<mat-card>
    <mat-card-header>
        <mat-card-title>Add New Category</mat-card-title>
        <mat-card-subtitle> </mat-card-subtitle>
    </mat-card-header>
    
    <mat-card-content class="mt20">
        <div class="bootstrap-wrapper">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <form (ngSubmit)="formSubmit()">
                        <mat-form-field class="w100" appearance="outline">
                            <mat-label>Title</mat-label>
                            <input 
                                required
                                type="text" 
                                name="title" 
                                matInput 
                                placeholder="Enter here" 
                                autofocus
                                [(ngModel)]="category.title"
                                />
                        </mat-form-field>

                        <mat-form-field class="w100" appearance="outline">
                            <mat-label>Description</mat-label>
                            <textarea 
                                required
                                name="description" 
                                matInput 
                                placeholder="Enter category description" 
                                rows="10"
                                [(ngModel)]="category.description"
                                >
                                
                            </textarea>
                        </mat-form-field>

                        <div class=" container text-center">
                            <button type="submit" mat-raised-button color="primary">Add</button>
                        </div>
                   </form>
                </div>
                
            </div>
            
        </div>
       
    </mat-card-content>
    
    <mat-card-footer>
        Footer
    </mat-card-footer>
</mat-card>
