<div class="bootstrap-wrapper">
    <div class="container">
        
        <div class="" id="home-section">
              <div class="row">

                  <div class=""></div>
                      <div class="justify-content-center">
                        <div class="col-md-12 text-center">
                          <h1 class="heading">
                            Welcome to the Learning Objects system   <span class="d-block"></span></h1>
                        </div>
                  </div>

                  <div class="row align-items-center">
        
                    <div class="col-lg-4">
                      <div class="intro">
        
                        <div class="excerpt" >
                          <span class="caption">Welcome</span>
                          <h2 class="font-weight-bold">Explore The Platform</h2>
                          <p>In this platform you will be able to create different digital resources to support the teaching-learning process. </p>  
                        </div> <!-- /.excerpt -->
                        
                      </div>
                      
                    </div> 
                    <div class="col-lg-8">
                      <div class="">
                        <img src="../../../assets/img/graphs-statistics_outline.svg" alt="Image" class="img-fluid">
                      </div>
                    </div>
                  </div>

        
              </div> <!-- /.row -->
            <!-- <div class="illustration">
              
            </div> -->
          </div> <!-- /.untree_co-hero -->
        

       
    </div>

</div>
